<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="wrap">
      <header class="main-header">
        <div class="inner">
          <div class="left">
            <h1>
              <a href="/">Chat</a>
            </h1>
          </div>
          <div class="right">
            {% block header %}{% endblock %}
          </div>
          <div class="clear"></div>
        </div>
      </header>
      <div class="main-content">
        <div class="inner">
          {% block content %}{% endblock %}
        </div>
      </div>
      <footer class="main-footer">
        <div class="inner">
          <ul class="footer-items right">
            <li><a href="/">Home Page</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
          {% block footer %}{% endblock %}
        </div>
      </footer>
    </div>
  </body>
</html>