{% extends 'base.html' %}
{% block head %}
<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io();
var me = '{{ user.userid }}';
$(document).ready(function(){
  
  $('#busy').click(function(){
    if($(this).is(":checked")) {
      socket.emit('busy');
    } else {
      socket.emit('available');
    }
  });
  $('#chatform').submit(function(e){
    e.preventDefault();
    var msg = $('#msg').val();
    socket.emit('newmessage', msg);
    appendmsg({userid:me,msg:msg});
    $('#msg').val('');
    reportActivity();
  });
  
  socket.on('initialdata', function(obj) {
    $("#chatonlineusers li:not(:first)").remove();
    newUserOnline(obj.onlineUsers);
  });
  socket.on('userconnect', function(obj) {
    newUserOnline(obj);
  });
  socket.on('userdisconnect', function(obj) {
    $('#user-'+obj.userid).remove();
  });
  socket.on('userstatus', function(obj){
    updateStatus(obj);
  });
  socket.on('connect', function(obj){
    appendmsg({msg:'Welcome to the chat room!'});
  });
  socket.on('newmessage', function(obj){
    appendmsg(obj);
  });
  socket.on('disconnect', function(obj){
    appendmsg({msg:'You have been disconnected! <a href="/login">Click here</a> to login again'});
    $('#user-'+obj.userid).remove();
    $('#chatform button').attr('disabled', 'disabled').addClass('disabled');
    $('#busy').attr('disabled', 'disabled');
    $('#msg').attr('disabled', 'disabled');
  });
  reportActivity();
});

function newUserOnline(users) {
  for(var key in users) {
    if($('#user-'+key).length==0) {
      $('#chatonlineusers').append($('<li>').attr('id','user-'+key).attr('class', users[key]).text(key));
    }
  }
}

function updateStatus(user) {
  $('#user-'+user.userid).attr('class', user.status);
}

function appendmsg(obj) {
  var li = $('<li>');
  if(obj.userid) {
    li.append($('<b>').text(obj.userid + ': '));
  }
  li.append($('<span>').append(obj.msg.replace(/Kappa/g, '<img src="https://static-cdn.jtvnw.net/emoticons/v1/25/1.0" />')));
  $('#messages').append(li);
  $('#messages').scrollTop($('#messages')[0].scrollHeight);
}

var activityTimer;

function setUserIdle() {
  socket.emit('idle');
}

function reportActivity() {
  if(!$('#busy').is(":checked")) {
    socket.emit('available');
  }
  clearTimeout(activityTimer);
  activityTimer = setTimeout(setUserIdle, 60000)
}

</script>
{% endblock %}

{% block content %}
  <ul id="messages"></ul>
  <form id="chatform" action="">
    <input id="msg" type="text" autocomplete="off" placeholder="Send a message"/>
    <div id="chatoptions">
      <label class="left"><input id="busy" type="checkbox" />I am busy</label> 
      <button class="right">Chat</button>
      <div class="clear"></div>
    </div>
  </form>
{% endblock %}

{% block footer %}
  <ul id="chatonlineusers" class="left"><li><b>Online Users:</b></li></ul>
{% endblock %}
