body,html,p,ul {
  margin:0;
  padding:0;
}

.main-header h1 a,
body,html {
  color: #404040;
}
body,html {
  background-color: #ffffff; 
  width : 100%;
  height: 100%;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  line-height:1.5;
}

.main-content, .main-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-header {
  position: relative;
  z-index: 3;
  margin-bottom: -1px;
  background-color: #fff;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0,0,0,0.075);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.main-header h1 {
  font-size: 16px;
  font-weight:normal;
}

.inner {
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.main-content {
	background-color: #fafafa;
	border-bottom: 1px solid rgba(0,0,0,0.075);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.main-content .inner {
	 position: relative;
    
	min-height:500px;
}
.main-footer {
	font-size: 12px;
}
.main-footer .inner {
	border-top: 1px solid #eee;
	margin-top: 20px;
}

.footer-items, #chatonlineusers {
	list-style:none;
	margin-top:12px;
}

.footer-items li, #chatonlineusers li {
	display:inline-block;
	margin-right:20px;
}

.footer-items li:last-child {
	margin-right:0;
}
.wrap-centered {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

a {
  text-decoration: none;
  color: #00aed1;
}

a:hover {
  text-decoration: underline;
}


.left {
  float:left;
}

.right {
  float:right;
}

.clear {
  clear:both;
}


/* chat page */


#chatform {
position: absolute;
    bottom: 0;
    width:100%;
}

#chatform input[type=text] {
  width:100%;
  border: 0;
  padding: 10px;
  background-color:#eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#chatform button {
  background: #00aed1;
  border: none;
  padding: 10px;
  color:#ffffff;
  cursor: pointer; 
  cursor: hand;
}

#chatform button:hover {
	background: #009fc1;
}

#chatform button.disabled {
	background: #eee;
}

#chatoptions {
	position: relative;
}

#chatoptions .left {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#messages {
	font-size:13px;
}

#messages {
  list-style-type: none;
  overflow-y: auto;
  overflow-x: hidden;
  height:92%; /*Fixme: should be 100% - #chatform.height*/
  width:100%;
  position:absolute;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#chatonlineusers {
	width:70%;
	line-height:1.1em;
	margin-top:12px;
}

#chatonlineusers li:first-child {
	margin-right:5px;
}

#chatonlineusers li:not(:first-child) {
	border-radius: 5px;
    box-shadow: 0px 0px 3px #000000;
    background-image: -moz-linear-gradient(top, #fffcfd, #e3e3e3);
    background-image: -ms-linear-gradient(top, #fffcfd, #e3e3e3);
    background-image: -o-linear-gradient(top, #fffcfd, #e3e3e3);
    background-image: -webkit-linear-gradient(top, #fffcfd, #e3e3e3);
    background-image: linear-gradient(top, #fffcfd, #e3e3e3);
    background-clip: padding-box;
    padding:4px 4px 4px 12px;
	margin-right:10px;
	margin-bottom:7px;
	background-position: 1px center;
	background-repeat: no-repeat;
}

#chatonlineusers li.av {
	background-image: url("/images/green-small.gif");
}

#chatonlineusers li.aw {
    background-image: url("/images/gray-small.gif");
}

#chatonlineusers li.b {
    background-image: url("/images/red-small.gif");
}

